<ion-modal-view> 
  <ion-header-bar class="row"> 
    <h1 class="title">{{"Home.view.ChangePassword" | translate}}</h1> 
    <button class="button button-clear button-positive" style="color: #085ccc;" ng-click="closeChangePassword()">{{'Home.view.Close' | translate}}</button>
  </ion-header-bar> 
  <ion-content>
  <form class="form-validation" style="padding: 20px;"autocomplete="off" name="form" role="form"> 
    <div class="list list-inset input-senha"> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon" style="color: #ff5311;"></i> 
            <input type="password" class="form-control" id="oldPassword" style="background: #e4e8ed; height: 30px; padding: 20px;" placeholder="{{'Home.view.Old Password' | translate}}"> 
        </label> 
        <label class="item item-input"> 
        <i class="icon ion-asterisk placeholder-icon" style="color: #ff5311;"></i> 
            <input type="password" class="form-control" id="newPassword" style="background: #e4e8ed; height: 30px; padding: 20px;" placeholder="{{'Home.view.New Password' | translate}}"> 
        </label> 
        <label class="item item-input"> 
            <i class="icon ion-asterisk placeholder-icon" style="color: #ff5311;"></i> 
        <input type="password" class="form-control" id="newPasswordConfirmation" style="background: #e4e8ed; height: 30px; padding: 20px;" placeholder="{{'Home.view.Confirmation' | translate}}"> 
        </label> 
    </div>
    <div class="list list-inset" > 
        <button class="button button-block button-positive" style="background-color: #ff5311;"ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading">{{"Home.view.ChangePassword" | translate}}</button>
    </div>
  </form>
  </ion-content> 
</ion-modal-view>
