<div id="starter" ng-destroy="">
  <ion-view> 
    <ion-content class="view-grid-padrao center"> 
      <div class="component-holder ng-binding ng-scope" data-component="crn-div" id="testePadding" style="padding-top: 10px;"> 
        <div class="list"> 
          <div class="col text-center"> 
          </div> 
        </div> 
      </div>
      <h4 class="coletagem">Coletagem
      <ul>
    <li class="separador"></li>
      </ul></h4>
      <a href="#/app/logged/pontos_de_coleta" class="component-holder" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-754392" cronapp-security="visible : Administrators">
          <button class="button component-holder button-biotank-item button-positive" style="color: #ff5311; background-color: #e4e8ed;" type="button" ng-click="" data-component="crn-button" id="crn-button-547852" xattr-fullsize="button-full" xattr-theme="button-balanced">
              <i class="ion ion-erlenmeyer-flask-bubbles"></i>
              <span>Coletas pendentes</span>
          </button>
      </a>
             
      <a href="#/app/logged/rotas" class="component-holder" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-754392">
          <button class="button component-holder button-biotank-item" style="color: #e4e8ed; border: 1px solid #ff5311; background-color: #ff5311;" type="button" ng-click="" data-component="crn-button" id="crn-button-547852" xattr-fullsize="button-full" xattr-theme="button-positive">
              <i class="ion ion-android-map"></i>
              <span>Minhas Rotas</span>
          </button>
      </a> 
    </ion-content> 
  </ion-view>
</div>