<ion-side-menus enable-menu-with-back-views="false"> 
  <div class="row" data-container="true"> 
    <ion-side-menu-content drag-content="false"> 
      <ion-nav-bar class="bar-stable"> 
        <ion-nav-back-button> 
        </ion-nav-back-button> 
        <ion-nav-buttons class="nav-buttons-left" side="left"> 
          <button class="button button-icon button-clear button-menu" menu-toggle="left"><i class="ion-navicon"></i> </button> 
        </ion-nav-buttons> 
      </ion-nav-bar> 
      <ion-nav-view name="menuContent"> 
      </ion-nav-view> 
      <ion-header-bar> 
        <div class="header"> 
          <img src="img/logos.png"> 
        </div> 
      </ion-header-bar> 
    </ion-side-menu-content> 
    <ion-side-menu class="bg-menu-collpsed" style="background-color: #085ccc;"side="left"> 
      <ion-header-bar class="bg-header-menu-interno"> 
        <h1 class="title">Menu</h1> 
      </ion-header-bar>
      
      <ion-content data-container="true"> 
        <ion-list> 
          <!-- Menu --> 
          <div class="component-holder" data-component="crn-navbar" id="crn-navbar-986427"> 
            <div class="nav navbar-nav"> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor"> 
                <a class="component-holder item-content ng-binding" href="#/app/home"> <i class="icon ion-home"></i><label>{{"Home.view.Home" | translate}}</label></a> 
              </div> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor" cronapp-security="visible : Administrators"> 
                <a class="item-content ng-binding" href="#/app/logged/user"> <i class="icon ion-ios-person"></i> <label>{{ "Users.view.Users" | translate }}</label></a> 
              </div>
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor" cronapp-security="visible : Administrators"> 
                <a class="item-content ng-binding" href="#/app/logged/veiculo"> <i class="icon ion ion-android-car"></i> <label>Veículos</label></a> 
              </div> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor" cronapp-security="visible : Administrators"> 
                <a class="item-content ng-binding" href="#/app/logged/coleta"> <i class="icon ion ion-soup-can"></i> <label>Coletas</label></a> 
              </div> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor"> 
                <a class="item-content ng-binding" href="#/app/logged/motorista" data-component="crn-link" cronapp-security="visible : Administrators"> <i class="icon ion ion-android-people"></i> <label>Motoristas</label></a> 
              </div> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor"> 
                <a class="component-holder item-content ng-binding" href="#/app/home" ng-click="openChangePassword()"> <i class="icon ion-lock-combination"></i><label>{{"Home.view.ChangePassword" | translate}}</label></a> 
              </div> 
              <div menu-close="" class="menu-lateral-item" data-component="crn-anchor"> 
                <a class="component-holder item-content ng-binding" ng-click="logout()" href="#"> <i class="icon icon ion-arrow-left-a"></i><label>{{"Home.view.Sair" | translate}}</label></a> 
              </div> 
            </div> 
          </div> 
          <!-- Menu --> 
        </ion-list> 
      </ion-content> 
    </ion-side-menu> 
  </div> 
</ion-side-menus>