<ion-view cache-view="false"> 
  <ion-content data-content="true" data-replace="true" class="view-grid-padrao">
    
    <h4 class="veiculo">
      Minhas Rotas
      <ul><li class="separador"></li>
      </ul></h4>
    <div class="component-holder ng-binding ng-scope" data-component="crn-google-maps" id="crn-google-maps-1037237"> 
      <div id="map" token="AIzaSyDhdUegxwZiRrcJQsKVsmI_b3YIMti0eyY" style="width:100%; min-height:500px; max-height:90%;" ng-init="blockly.js.blockly.Maps.iniciarColeta()"></div> 
    </div> 
  </ion-content> 
</ion-view>