<?xml version="1.0" encoding="UTF-8"?><widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="io.cronapp.app" version="1.0.0">
    <name>Cronapp App</name>
    <description>A sample Cronapp App application.</description>
    <author email="dev@cronapp.io" href="http://cronapp.io">Cronapp Team</author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <icon src="res/icon.png"/>
    <splash src="res/screen.png"/>
    <engine name="android" spec="^7.0.0"/>
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1"/>
    <plugin name="cordova-plugin-camera" spec="^4.0.1"/>
    <plugin name="cordova-plugin-device" spec="^2.0.1"/>
    <plugin name="cordova-plugin-file" spec="^6.0.1"/>
    <plugin name="cordova-plugin-firebase" spec="^0.1.25"/>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1"/>
    <plugin name="cordova-plugin-network-information" spec="^2.0.1"/>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1"/>
    <plugin name="cordova-plugin-vibration" spec="^3.0.1"/>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3"/>
</widget>